spring:
  tomcat:
    max-swallow-size: -1
    max-http-form-post-size: -1
  servlet:
    multipart:
      enabled: true
      max-file-size: -1
      max-request-size: -1
  application:
    name: "@project.name@"
  profiles:
    active: local
  devtools:
    livereload:
      enabled: false
    restart:
      enabled: false
    add-properties: false
  jackson:
    time-zone: "Asia/Seoul"
  main:
    allow-bean-definition-overriding: true
    banner-mode: console
  web:
    resources:
      add-mappings: false
    cors:
      allowed-origins: "http://localhost:5173"
      allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
      allowed-headers: "*"
      allow-credentials: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 2128899450-3jd5m6mf340f9leuht99kv8c02c7uh9f.apps.googleusercontent.com
            client-secret: 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
            redirect-uri: "http://localhost:8080/login/oauth2/code/google"

            # redirect-uri: http://localhost:5173
            scope:
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
jwt:
  secret: slkfjeo389ghfdgdgf43857394587329fslfwjekflwekfj
  access-expiration: 3600000 # 1시간 (ms)
  # access-expiration: 30000 # 30초 (ms)
  # refresh-expiration: 604800000 # 1주 (ms)
  # access-expiration: 30s
  refresh-expiration: 7d

logging:
  level:
    root: info

server:
  # 서버 port 설정
  port: 8080
  # url prefix
  # servlet.context-path: /apis

---
# local 환경 설정
spring:
  config:
    activate:
      on-profile: local
  # MySQL
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3305/mymoneylog
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

logging:
  level:
    root: info

debug: true

---
# development 환경 설정
spring:
  config:
    activate:
      on-profile: dev

  # MySQL
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3305/mymoneylog
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true

logging:
  level:
    root: info

debug: true

---
# product 환경 설정
spring:
  config:
    activate:
      on-profile: prd
